__pycache__/
*.pyc
*.index
*.json
*.docx
*.pdf
word_files/
faiss_metadata.json
faiss_index.index
.env/
*.env
*.env.local
*.env.development.local
*.env.test.local
*.env.production.local
*.DS_Store
*.egg-info/
*.egg
*.zip
*.tar.gz
*.tgz
*.whl
*.pdb
*.db
